<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> services</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="services">
      <h1> Our Services</h1>
      <p><marquee><i> welcome to our products section, kindly click on your choice of product We deal in the following products</i></marquee></p>
      <div class="cen">
        <div class="service">
          <i class="fa fa-apple" aria-hidden="true"></i>
          <h2>iphones</h2>
          <p>We sell all kinds of iphones at very cool prices</p>
        <ul class="list1">
          <li>iphone XR</li>
          <li>iphone 11</li>
          <li>iphone 11 max</li>
          <li>iphone 12</li>
        </ul>

          </div>
          <div class="service">
            <i class="fa fa-android"></i>
            <h2>Redmi Phones</h2>
            <p>We sell all kinds Redmi phones at very cool prices</p>
            <ul class="list2">
              <li>Redmi note 5</li>
              <li>Redmi Note 5 pro</li>
              <li>Redmi Note 8</li>
              <li>Redmi Note 9 pro </li>
            </ul>
            </div>
            <div class="service">
              <i class="fa fa-android" aria-hidden="true"></i>
              <h2>Sumsung phones</h2>
              <p>We sell all kinds of Sumsung phones at very cool prices</p>
              <ul class="list3">
                <li>Sumsung galaxy f41</li>
                <li>Sumsung galaxy s20+</li>
                <li>Sumsung galaxy Note 10</li>
                <li>Sumsung galaxy j6</li>
              </ul>
              </div>
              <div class="service">
                <i class="fa fa-android" aria-hidden="true"></i>
                <h2>Infinix phones</h2>
                <p>We sell all kinds of Infinix Phones at very cool prices</p>
                <ul class="list4">
                  <li>Infinix hot 5</li>
                  <li>Infinix Note 5 pro</li>
                  <li>Infinix zero 8</li>
                  <li>Infinix Note 9 pro </li>
                </ul>
                </div>
                <div class="service">
                <i class="fa fa-android" aria-hidden="true"></i>
                  <h2>Realme Phones</h2>
                  <p>We sell all kinds of Realme phones at very cool prices</p>
                  <ul class="list5">
                    <li>Realme note 5</li>
                    <li>Realme x</li>
                    <li>Realme note 6</li>
                    <li>Realme x plus </li>
                  </ul>
                  </div>
                  <div class="service">
                    <i class="fa fa-android" aria-hidden="true"></i>
                    <h2>OPPO phones</h2>
                    <p>We sell all kinds of Oppo phones at very cool prices</p>
                    <ul class="list6">
                      <li>Oppo one plus</li>
                      <li>Oppo  5 pro</li>
                      <li>Oppo Note 8</li>
                      <li>Oppo 9 pro </li>
                    </ul>
                    </div>

      </div>
    </div>
    <hr></hr><center>
    <p class="addi"> We provide fast shipping services across india<br>
      24/7 Customer care service<br>
        first floor goldbuilding Rushikond APIIC, Visakhapatnam,India,530045<br>
      <i class="fa fa-phone" aria-hidden="true"></i>    +91-9*********<br>
      <i class="fa fa-envelope" aria-hidden="true"></i> example@gmail.com
    </p>
    <div class="social">
      <i class="fa fa-instagram" aria-hidden="true"></i>
      <i class="fa fa-twitter-square" aria-hidden="true"></i>
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
      <i class="fa fa-whatsapp" aria-hidden="true"></i>
    </center>
  </body>
</html>
